<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- >> For NLog setup -->
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For NLog setup end << -->
		
		<!-- >> For Log4Net setup -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!-- For Log4Net setup end << -->
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<!-- >> For NLog setup -->
	<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="c:\ProgramData\Carestream\NLog\Csh.Xrs.Services.Logging.txt" internalLogLevel="Warn" internalLogToConsole="false">-->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogToConsole="false">
		<variable name="logDirectory" value="F:/Carestream"/>
		<targets>
			<!--<target name="logfile" xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff}|${level}|${stacktrace}|${message}" fileName="${logDirectory}/Service.log" />-->
			<target name="logfile" xsi:type="File" layout="${date:format=yyyy-mm-dd HH\:mm\:ss.fff}|${level}|${message}" fileName="${logDirectory}/Service.log" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
	<!-- For NLog setup end << -->

	<!-- >> For Log4Net setup -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[Console] %date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
			<file value="F:/Carestream/Service.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value=".yyyyMMdd"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="1MB"/>
			<staticLogFileName value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-6level %logger - %message %exception%newline"/>
			</layout>
			<!-- DenyAllFilter: The only purpose of this entry is to specify that no log entry should be made. 
			If this were the only filter entry, then nothing would be logged -->
			<!--<filter type="log4net.Filter.DenyAllFilter"/>-->
		</appender>
		<root>
			<level value="ALL" /> <!-- ALL/INFO ... -->
			<appender-ref ref="RollingFileAppenderAll" />
		</root>
	</log4net>
	<!-- For Log4Net setup end << -->
</configuration>