<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdd" />
                <binding name="BasicHttpsBinding_IAdd">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCF_Demo.Service/Add.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdd"
                contract="IAdd" name="BasicHttpBinding_IAdd" />
            <endpoint address="https://cnshw62hdw2x-5/WCF_Demo.Service/Add.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdd"
                contract="IAdd" name="BasicHttpsBinding_IAdd" />
        </client>
    </system.serviceModel>
</configuration>